<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="DefaultConnection" connectionString="Data Source=MIRACLE\MSSQLSERVER01;Initial Catalog=Americhicken;Integrated Security=True;TrustServerCertificate=true;" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>